.project-cal {
    width: 100%;
    border: 1px solid #0d011f;

    border-radius: 4px;
    min-height: 60px;
    margin-bottom: 15px;
    background-color:#fff;
}
.project-cal > .header{
    height: 21px;
    background: #0d011f;
    color: #fff;
    padding: 0 20px;

}
.project-cal span.left{
    float: left;
    font-size: 15px;
}
.project-cal span.right{
    float: right;
    font-size: 15px;
}
.project-name{
    padding: 8px 20px;
    color: #0d011f;
    font-size: 15px;
}
.project-name span{
    font-weight: 600;

}


div#calendar {
    border: 2px solid #0d011f;
    border-radius: 5px;
    background-color: #fff;
}
.fc-toolbar {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 1px solid #fff !important;
}
.fc-toolbar .fc-left{
    width: 31.3%;
}
.fc-toolbar .fc-right {
    width: 27.7%;
}
.fc-toolbar button{
    border: 0;
    background: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.fc-toolbar .fc-center {
    width: 41%;
    background: #0d011f;
    color: #fff;
    height: 32px;
}
.fc-toolbar .fc-center h2{
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
}
.fc .fc-toolbar>*>*{
    float: none;
}

.fc-widget-header.activePm{
    background: #0d011f;
    color: #fff;
    border-bottom: 1px solid #0d011f;
}
.fc-widget-header.activeAm{
    background: #0d011f;
    color: #fff;
    border-bottom: 1px solid #0d011f;
}


td, th{
    height: 35px !important;
}
.fc th{
    vertical-align: middle;
    background: #7a7184;
    color: #fff;
    border-top: 0;
    border-right-color: #6c6376;
}
.fc td.pmClass, .fc td.amClass{
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

}
.fc td.pmClass.active, .fc td.amClass.active{
    background: #0d011f;
    color: #fff;
    border-bottom: 1px solid #0d011f;
    border-right-color: #6c6376;
}
.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}
.fc-time-grid .fc-bgevent, .fc-time-grid .fc-event {
    border-radius: 0;
    border: 0;
    text-align: center;
    background: #0d011f;
    left: 0 !important;
    right: 0 !important;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
    border-bottom: 1px solid #0d011f;
}
.fc-head td.fc-widget-header{
    border-top: 0;
}
.fc-content .fc-time > span{
    display: none;
}
th.fc-day-header.fc-widget-header {
    padding: 2px 30px;
}
.calendar-btn .link_box {
    margin: 20px 0;
    text-align: right;
}
.calendar-btn .link_box a {
    display: inline-block;
    padding: 5px 20px;
    background: #1b0034;
    color: #fff;
    border-radius: 5px;
}

.calendar-btn .link_box a:hover {
    text-decoration: none;
}

.calender-msg .messageBox {
    margin: 0 auto;
    width: 700px;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.calender-msg .messageBox h3 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
}

.calender-msg .messageBox h3 > b,
.calender-msg .messageBox h3 > span {
    color: #662d91;
}

.calender-msg .boxBtnArea {
    /*border-top: 1px solid #ccc;*/
    padding: 20px 0 0;
    margin: 20px auto 0;
    width: 100%;
    text-align: center;
}

.calender-msg .boxBtnArea a {
    border: 2px solid #662d91;
    border-radius: 0;
    color: #662d91;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    background: #fff;
}

.calender-msg .boxBtnArea a:hover {
    color: #fff;
    background: #662d91;
}
/*--------------Double css--------------------------*/
.link_box {
    margin: 20px 0;
    text-align: right;
}

.link_box a {
    display: inline-block;
    padding: 5px 20px;
    background: #1b0034;
    color: #fff;
    border-radius: 5px;
}

.link_box a:hover {
    text-decoration: none;
}

.messageBox {
    margin: 0 auto;
    width: 700px;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.messageBox h3 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
}

.messageBox h3 > b,
.messageBox h3 > span {
    color: #662d91;
}

.boxBtnArea {
    /*border-top: 1px solid #ccc;*/
    padding: 20px 0 0;
    margin: 20px auto 0;
    width: 700px;
    text-align: center;
}

.boxBtnArea a {
    border: 2px solid #662d91;
    border-radius: 40px;
    color: #662d91;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    background: #fff;
}

.boxBtnArea a:hover {
    color: #fff;
    background: #662d91;
}


@media only screen and (min-width: 320px) and (max-width: 470px) {
    .calender-msg .messageBox {
        width: 100%;
    }
}