html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    background: #fff;
    height: 100%;
    font-family: "open sans", sans-serif;
    position: relative;
    background: #e8ecf2;
}
*{
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
.container{
    height: 100%;
    padding-right: 0;
    padding-left: 0;
}
.container-wrap {
    /*max-width: 767px;*/
    margin: 0 auto;
    background: #e8ecf2;
    width: 100%;
    height: 100%;
}
.loader{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    max-height: 100%;
    max-width: 100%;

}

/*----------------Common css------------------------*/
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: none;
}
.padding10{
    padding: 10px !important;
}
.padding5{
    padding: 5px !important;
}
.padding0{
    padding: 0 !important;
}
.margin10{
    margin: 10px !important;
}
.margin5{
    margin: 5px !important;
}
.margin0{
    margin: 0 !important;
}
.marginbottom0{
    margin-bottom: 0 !important;
}
.marginbottom5{
    margin-bottom: 5px !important;
}
.marginbottom10{
    margin-bottom: 10px !important;
}
.marginbottom15{
    margin-bottom: 15px !important;
}
.marginbottom20{
    margin-bottom: 20px !important;
}
.textright{
    text-align: right;
}
.textleft{
    text-align: left;
}
.textcenter{
    text-align: center;
}
.floatright{
    float: right;
}
.floatleft{
    float: left;
}

.circlebtn {
    background: #0d011f;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 30px;
    /* font-weight: bold; */
    color: #fff;
    margin-bottom: 5px;
    font-weight: normal;
}
.circlebtn.active {
    background: #fff;
    color: #0d011f !important;
    border: 2px solid #0d011f;
    line-height: 48px;
}
.roundbtn {
    background: #fff;
    border: 2px solid #662d91;
    padding: 4px 5px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;

}
/*------------------End common css-------------------------------*/

/*---------------------Sidebar----------------------------------*/
.sidenav {
    height: 100%;
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -250px;
    /*background-color: #1b0034;*/
    background-color: rgb(13,1,31);;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    /*right: 25px;*/
    font-size: 36px;
    /*margin-left: 50px;*/
}
a.closebtn {
    left: 10px;
    font-size: 13px !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.6);
    top: 15px !important;
    text-align: center;
    line-height: 27px;
}
.sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: #fff;
}

.sidebarProfileImg {
    text-align: center;
    margin-bottom: 35px;
}
.sidebar-img {
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #fff;
    width: 86px;
    height: 86px;
    vertical-align: middle;
}
.sub-img {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 6px solid #030010;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}
.sidebar-img  .sub-img img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
}
.sidebar-status p{
    color: #fff;
    margin: 0;
    font-size: 14px;
}

.sidebar-menu {
    padding: 0 20px;
    height: calc(100vh - 210px);
    position: relative;
}
ul.sidebar-main-menu {
    padding: 0;
    margin: 0;
}
ul.sidebar-sub-menu {
    padding: 0;
    margin: 0;
}
.sidebar-menu ul li a{
    font-size: 13px;
    padding: 12px 15px;
}
.sidebar-main-menu > li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.sign-out{
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(255,255,255,0.3);
    width: 84%;
}
.sign-out a{
    font-size: 13px;
    padding: 12px 15px;
}
.sidebar-menu-contain {
    margin-bottom: 15px;
}
.sidebar-recentProject-menu {
    height: 100%;
    overflow: auto;
}
.sidebar-recentProject{
    height: calc(100vh - 377px);
    overflow: hidden;
}
.sidebar-recentProject p{
    margin: 0 0 5px 0;
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
    padding: 0 15px;
}
.sidebar-sub-menu a{
    padding: 0 15px !important;
    height: 30px;
    line-height: 30px;
    margin: 5px 0;
    /* line-height: 25px; */
}
/*-----------------------------------------------*/
header{
    background: #0d011f;
    box-shadow: 0px 3px 19px 0px #0d011f;
    position: relative;
}
.header-main{
    padding: 18px 0;
    width: 90%;
    margin: auto;
    height: 60px;

}
.header-left {
    float: left;
    display: block;
    width: 100%;
    margin-right: -100px;
    padding-right: 105px;
}
.header-right {
    float: right;
}
header span{
    color: #fff;
}
.projectname{
    font-size: 18px;
}
header a{
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
    font-size: 16px;
}
header a:hover{
    color: #fff;
    text-decoration: none;
}

/*-------------------------------------------*/

.box-main {
    height: calc(100vh - 60px);
    overflow: hidden;
    /*padding-top: 30px;*/
}
.box{
    height: 100%;
    overflow: auto;
    padding-top: 30px;
}
.sub-box{
    width: 90%;
    /*box-shadow: 2px 3px 14px 4px #ccc;*/
    box-shadow: 0px 5px 14px 0px #ccc;
    margin: 0 auto 25px;
    border-radius: 7px;
    background: #fff;
    position: relative;
}
#projectUpcoming .sub-box{
    margin-bottom: 35px;
    padding-top: 15px !important;
}

.box-main .sub-box a{
    display: block;
}
.sub-box .left {
    float: left;
    width: 100%;
    margin-right: -100px;
    padding-right: 100px;
}


.sub-box .right {
    float: right;
    width: 100px;
    text-align: center;
}
.sub-box .right p{
    color: #0f021f;
    font-size: 14px;
    font-weight: 500;
}
.sub-box h4{
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}
.sub-box p{
    margin: 0 0 10px 0;
    font-size: 13px;
    margin-bottom: 0;
}

/*-------------------Preview2 Page-----------------------------*/
.project-status .contain{
    width: 33.33%;
    float: left;
    text-align: center;
}
.project-status .contain a{
    margin: 0 auto;
}
.project-status .contain a:hover{
    color: #fff;
}
.project-status .contain p{
    font-weight: 500;
}

.expert-status .contain{
    float: left;
    width: 50%;
    padding: 0 10px;
}
.expert-status .contain span{
    margin-top: 5px;
    display: inline-block;
}

.upcoming-status .contain{
    float: left;
    width: 50%;
    padding: 0 10px;
}
.complete-status .contain{
    float: left;
    width: 50%;
    padding: 0 10px;
}
.row10{
    margin: 0 -10px;
}
.user-img {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
}

.user-img img {
    /*position: absolute;*/
    bottom: -9999px;
    top: -9999px;
    right: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

#projectComplete{
    display: none;
}
#projectExperts{
    display: none;
}
#projectUpcoming{
    display: none;
    padding-top: 10px;

}

.contact{
    font-size: 13px;
}
.pass {
    color: #662d91;
    font-size: 16px;
    font-weight: 700;
}
.upcomingStatus-btn{
    text-align: center;
}
.upcomingStatus-btn button{
    width: 150px;
    color: #662d91;
}
.upcoming-date{
    background: #662d91;
    height: 23px;
    padding: 0 8px;
    border-radius: 0 5px 5px 0;
    box-shadow: -1px 5px 14px -3px #3e2e69;
    position: absolute;
    top: -16px;
    left: -6px;
}
.upcoming-date span{
    color: #fff;
    font-size: 12px;
    display: block;
    line-height: 23px;
    letter-spacing: 0.5px;
}


.cus-schedule .messageBox {
    margin: 0 auto;
    width: 90%;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-top: 35px;
    position: relative;
    background: #fff;
}
.cus-schedule .messageBox >img {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%, 0);
}
.cus-schedule .messageBox h3 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
}
.cus-schedule .boxBtnArea {
    border-top: 1px solid #ccc;
    padding: 20px 0 0;
    margin-top: 20px;
}
.cus-schedule .boxBtnArea button {
    border: 2px solid #662d91;
    border-radius: 0px;
    color: #662d91;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    background: #fff;
}
/*------------------- Animation -------------------------*/

.bottomtoup{
    transform: translateY(150px);
    animation: bottomtoup 0.3s ease-out forwards;
}
@keyframes bottomtoup {
    to { transform: translateY(0); }
}
/*-----------------*/
.lefttoright{
    transform: translateX(-150px);
    animation: lefttoright 0.3s ease-out forwards;
}
@keyframes lefttoright {
    to { transform: translateY(0); }
}
/*-----------*/
.box .opaAnimation{
    -webkit-animation: opacity 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: opacity 2s; /* Firefox < 16 */
    -ms-animation: opacity 2s; /* Internet Explorer */
    -o-animation: opacity 2s; /* Opera < 12.1 */
    animation: opacity 2s;
}
@keyframes opacity {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes opacity {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes opacity {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes opacity {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes opacity {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*--------------------------------------*/


/*---------------------Page 3 (upcoming calls)-------------------------------*/

.upcoming-status .contain button{
    width: 100%;
}
#upcomingCalls{
    padding-top: 10px;
}
#upcomingCalls .sub-box{
    margin-bottom: 35px;
    padding-top: 15px !important;
}
.upcomingStatus-btn .cancelcallbtn{
    width: 150px;
    margin: 0 auto;
}
/*---------------------------------------------*/

/*----------------Popup------------------------------*/
.modal-dialog{
    margin-top: 100px;
}
.modal-content{
    border: none;
    box-shadow: none;
    background: none;

}
.modal-header{
    border: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -15px;
    z-index: 9;
}

.modal-header .close{
    margin-top: -12px;
    margin-right: 0;
    color: #662d91;
    font-size: 20px;
    background: #fff;
    border: 2px solid #662d91;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 22px;
    opacity: 1;
    font-weight: lighter !important;
}
.modal-body .popup-submit-btn {
    text-align: center;
    margin-top: 10px;
}
.popup-submit-btn button{
    border: 2px solid #662d91;
    border-radius: 0px;
    color: #662d91;
    display: inline-block;
    font-size: 15px;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    right: 127px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    background: #fff;
}

.jp-jplayer {
    background-color: #000;
}
.jp-audio {
    width: 100% !important;
    border: none !important; 
    background-color: #fff !important;
}
.jp-audio .jp-interface, .jp-audio-stream .jp-interface {
    text-align: center;
    background: none !important;
}
.jp-audio .jp-type-single .jp-progress {
    left: 0 !important;
    width: 100% !important;
    position: relative !important;
    right: auto !important;
    margin: 0 auto !important;
    top: 0 !important;
    height: 20px;
}
.jp-seek-bar {
    background: none !important;
    background-color: #1B0034 !important;
    border-radius: 4px !important;
    padding: 7px 8px !important;
    width: 100% !important;
}
.jp-audio .jp-controls {
    width: 100% !important;
    padding: 10px 0 !important;
}
.jp-play, .jp-play:focus {
    background: url(../images/play.png) no-repeat center top / 100% !important;
    height: 37px !important;
    width: 38px !important;
}
.jp-play, .jp-stop {
    float: none !important;
    display: inline-block !important;
}
.jp-stop {
    background: url(../images/stop.png) no-repeat center top / 100% !important;
    height: 37px !important;
    width: 38px !important;
}
.call-transcription-title-head{
    left: -7px;
    position: absolute;
    top: -37px;
}
.call-transcription-title-head .call-transcription-title{
    background: #662d91 none repeat scroll 0 0;
    border-radius: 0 7px 7px 0;
    box-shadow: 0 14px 11px -9px rgba(0, 0, 0, 0.3);
    color: #ffffff !important;
    font-size: 16px;
    font-weight: normal;
    height: 30px;
    letter-spacing: 0.2px;
    line-height: 30px;
    padding: 0 25px;
    text-align: left;
}