@media (max-width: 991px) {
    .contain-main .panel .panel-body .panel-body-inner .link-box {
        margin: 20px 0 0;
        text-align: left;
    }
    .contain-main .panel .panel-body .link-box a{
        margin: 0 0 5px 0;
    }
}
@media (max-width: 767px) {

    /******* menu *****/
    header .logo a {
        display: inline-block;
        margin: 20px 0 0;
    } 
    header .user-link {
        margin: 8px 0 6px;
        text-align: right;
    }
    header .res-menu {
        background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
        bottom: 0;
        left: -100%;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        transition: all 300ms ease 0s;
        z-index: 9;
    }
    header .res-menu.opn{
        left: 0;
    }
    header .res-menu .menu .navbar-nav {
        margin: 0;
    }
    header .res-menu .menu .navbar-nav li {
        display: block;
    }
    header .res-menu .menu .menu-tog {
        background: #0d011f none repeat scroll 0 0;
        border-radius: 0 30px 30px 0;
        color: #fff;
        font-size: 20px;
        height: 45px;
        display: block;
        left: 0;
        line-height: 42px;
        padding: 0 7px 0 3px;
        position: fixed;
        top: 70px;
        transition: all 300ms ease 0s;
        width: 22px;
        z-index: 99;
    }
    header .res-menu .menu .menu-tog i {
        transform: scale(1, 2);
    }
    header .res-menu.opn .menu .menu-tog i {
        left: -3px;
        position: relative;
        transform: rotate(180deg);
    }
    header .res-menu.opn .menu .menu-tog{
        left: 140px;
        position: absolute;
    }
    header .res-menu .menu {
        background: #0d011f none repeat scroll 0 0;
        bottom: 0;
        left: -140px;
        position: absolute;
        top: 0;
        transition: all 300ms ease 0s;
        width: 140px;
    }
    header .res-menu.opn .menu .nav.navbar-nav {
        bottom: 0;
        overflow: auto;
        position: absolute;
        top: 0;
        width: 100%;
    }
    header .res-menu.opn .menu{
        left: 0;
    }

    /******* menu *****/

    .contain-main .panel .panel-body .Ex_list {
        display: block;
    }
    .contain-main .panel .panel-body .exp-btn{
        margin: 0 0 5px 0;
    }
    .contain-main .social-btn {
        text-align: center;
    }
    .contain-main .panel .panel-heading h3 .date {
        display: block;
        margin: 10px 0 0;
        position: static;
    }
    .info-box a.info-edit-btn{
        position: static;
        margin-top: 30px;
    }
    .info-box{
        padding-right: 15px;
    }
    .info-box .info-social {
        margin-top: 20px;
        position: static;
    }
    .info-box .info-social .social-btn a{
        border-radius: 10px;
    }
    .info-box a.edit-btn {
        bottom: auto;
        right: 13px;
        top: 8px;
    } 
    .contain-main .panel .panel-body .input-box {
        margin-bottom: 10px;
    }



}


@media (max-width: 480px) {

    /******* header *****/

    header .logo a{
        margin: 17px 0 0;
    }
    header .logo a img {
        width: 100px;
    }
    header .user-link a{
        width: 40px;
        height: 40px;
    }

    /******* header *****/
    .info-box{
        text-align: center;
    }
    .info-box .img-box {
        display: inline-block;
        float: none;
        margin: auto;
        position: relative;
    }
    .info-box .info-des-box {
        margin-top: 15px;
        padding: 0;
    }
    .info-box .info-social{
        text-align: center;
    }
    .info-box .info-social .social-btn{
        display: inline-block;
    }

}