html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'LucidaGrande';
    position: relative;
    padding-bottom: 18rem;
    /*padding-bottom: 17.5rem;*/
    min-height: 100%;
}
body.expert{
    background: #e8ecf2;
}

@font-face {
    font-family: 'LucidaGrande';
    src: url('../fonts/LucidaGrande.eot?#iefix') format('embedded-opentype'), url('../fonts/LucidaGrande.woff') format('woff'), url('../fonts/LucidaGrande.ttf') format('truetype'), url('../fonts/LucidaGrande.svg#LucidaGrande') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'), url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf') format('truetype'), url('../fonts/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial-BoldMT';
    src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'), url('../fonts/Arial-BoldMT.otf') format('opentype'), url('../fonts/Arial-BoldMT.woff') format('woff'), url('../fonts/Arial-BoldMT.ttf') format('truetype'), url('../fonts/Arial-BoldMT.svg#Arial-BoldMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

div.loader {
    width: 100%;
    height: 100%;
    /* margin: auto; */
    position: fixed;
    top: 0;
    background: #fff;
    opacity: 0.8;
    z-index: 999;
}

div.loader img {
    width: 214px;
    height: 138px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

/******** header *********/
.bgGreylight {
    background: #eaecf2;
    padding-bottom: 17.5rem;
}

header {
    background: #0d011f none repeat scroll 0 0;
}

header .logo a {
    display: inline-block;
    margin: 24px 0 22px;
}

header .logo a.compliance-logo:hover {
    text-decoration: none;
}

header .logo a span {
    font-size: 21px;
    color: #fff;
    font-family: "open sans", sans-serif;
    font-weight: 100;
    text-decoration: none;
    position: relative;
    top: 4px;
    left: 1px;
}

header .logo a img {
    width: 130px;
}

header .res-menu .menu .menu-tog {
    display: none;
}

header .menu .navbar-nav > li .dropdown-menu {
    border: medium none;
    box-shadow: none;
    min-width: 100%;
    padding-bottom: 0;
}
header .complaince-menus  .menu .navbar-nav{
    float: right;
    text-align: right;
}
header .complaince-menus  .menu .navbar-nav > li{
    float: left;
    width: 147px;
}
header .complaince-menus .menu ul li a{
    padding: 17px 10px;
}
header .complaince-menus .menu ul li a.active{
    background: #fff;
}
header .complaince-menus .menu ul li.user-link-compliance a{
    padding: 16px 10px;
}
header .complaince-menus .menu ul li.user-link-compliance a:hover{
    background: none;
    color:#fff;
}
header .complaince-menus .menu ul li.user-link-compliance:hover ul > li > a:hover{
    color:#0d011f;
}
header .complaince-menus .nav>li>a>img {
    width: 18px;
}
header .complaince-menus .user-link-compliance .user-name {
    font-size: 14px;
}

header .menu ul li.open .dropdown-menu li a {
    background: #0d011f none repeat scroll 0 0;
    box-shadow: 0 2px 2px -1px #000;
    color: #fff;
    margin-bottom: 5px;
    padding: 15px 7px;
}

header .menu ul li.open .dropdown-menu li:last-child a {
    margin-bottom: 0;
}

header .menu ul li a i.offered::after {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #0d011f;
    border-radius: 20px;
    bottom: -4px;
    content: "";
    height: 15px;
    position: absolute;
    right: -6px;
    width: 15px;
}

header .menu ul li a i.upcoming::after,
header .menu ul li a i.completed::after {
    background: #0d011f none repeat scroll 0 0;
    border: 2px solid #0d011f;
    border-radius: 20px;
    bottom: -2px;
    font-family: 'FontAwesome';
    content: "\f017";
    font-size: 12px;
    height: 16px;
    line-height: 12px;
    position: absolute;
    right: -5px;
    width: 16px;
    color: #fff;
}

header .menu ul li a:focus i.upcoming::after,
header .menu ul li a:focus i.completed::after {
    color: #0d011f;
}

header .menu ul li a i.add::after {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #0d011f;
    border-radius: 20px;
    bottom: -2px;
    color: #1a1a1a;
    font-family: 'FontAwesome';
    content: "\f067";
    font-size: 10px;
    height: 16px;
    line-height: 12px;
    position: absolute;
    right: -5px;
    width: 16px;
}

header .menu ul li a:hover i.offered::after {
    border: solid 2px #343634;
}

header .menu ul li a:hover i.upcoming::after,
header .menu ul li a:hover i.completed::after {
    background: #343634;
    border: solid 2px #343634;
}

header .menu ul li a:focus i.upcoming::after,
header .menu ul li a:focus i.completed::after {
    background: #fff;
    border: solid 2px #fff;
}

header .menu ul li.open .dropdown-menu li a:hover,
header .menu ul li.open .dropdown-menu li a.active {
    background: #343634;
}

header .menu ul li.open .dropdown-menu li a:focus {
    color: #0d011f;
    background: #fff;
}

header .menu ul li a {
    color: #fff;
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}

header .menu ul li a:hover {
    color: #0d011f;
    background: #fff;
}

header .menu ul li a:focus {
    color: #0d011f;
    background: #fff;
}

header .menu ul li a.active {
    color: #0d011f;
    background: #fff;
}

header .menu ul li.open a {
    color: #0d011f;
    background: #fff;
}

header .menu ul li a span {
    display: block;
    text-transform: capitalize;
}

header .menu ul li a i {
    font-size: 24px;
    margin-bottom: 3px;
    position: relative;
}

header .menu ul li a i sup {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #000;
    border-radius: 18px;
    color: #1a1a1a;
    font-family: "LucidaGrande";
    font-size: 9px;
    line-height: 15px;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    right: -13px;
    top: -5px;
}

header .menu ul li a:hover sup {
    background: #000 none repeat scroll 0 0;
    border: 2px solid #fff;
    color: #fff;
}

header .menu .navbar-nav {
    display: block;
    float: none;
    text-align: center;
}
header .complaince-menus  .menu .navbar-nav{
    text-align: right;
}

header .menu .navbar-nav > li {
    float: none;
    display: inline-block;
    margin-right: -5px;
    width: 155px;
}

header .user-link {
    margin: 14px 0 0;
    text-align: right;
    position: relative;
}

header .user-link-compliance {
    margin: 0;
    text-align: right;
    position: relative;
}

header .user-link-compliance a {
    min-height: 67px;
}

header .user-link-compliance a:hover {
    text-decoration: none;
}

header .user-link > a {
    border: 3px solid #fff;
    border-radius: 50px;
    display: inline-block;
    height: 45px;
    overflow: hidden;
    width: 45px;
    position: relative;
}

header .user-link > a img {
    width: auto;
    bottom: -9999px;
    height: auto;
    left: -9999px;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: -9999px;
    top: -9999px;
    max-width: 125%;
    max-height: 125%;
}

header .user-link .drop-down-links, header .user-link-compliance .drop-down-links {
    position: absolute;
    top: 50px;
    right: 0;
    display: none;

    z-index: 9999;
    width: 125px;
}
header .complaince-menus .user-link-compliance .drop-down-links{
    top: 67px;
    right:5px;
}
header .complaince-menus .user-link-compliance .drop-down-links > ul{
    padding: 16px;
}
header .complaince-menus .user-link-compliance .drop-down-links > ul > li > a{
    padding: 0;
    min-height: 0;
}
header .complaince-menus .user-link-compliance:hover ul{
    color:#fff;
}
header .user-link:hover .drop-down-links, header .user-link-compliance:hover .drop-down-links {
    display: block;
}

header .user-link .drop-down-links ul, header .user-link-compliance .drop-down-links ul {
    margin: 20px 0 0 0;
    padding: 0;
    /*background: #fff;*/
    background: #0d011f;
    padding: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

header .user-link .drop-down-links ul:hover, header .user-link-compliance .drop-down-links ul:hover {
    /*background: #0d011f;*/
    background: #fff;
}

header .user-link .drop-down-links ul li, header .user-link-compliance .drop-down-links ul li {
    list-style: none;
}

header .user-link .drop-down-links ul li a, header .user-link-compliance .drop-down-links ul li a {
    font-size: 16px;
    /*color: #0d011f;*/
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
}

header .user-link .drop-down-links ul:hover li a, header .user-link-compliance .drop-down-links ul:hover li a {
    /*color: #fff;*/
    color: #0d011f;
}

header .user-link .drop-down-links ul li a > i.fa, header .user-link-compliance .drop-down-links ul li a > i.fa {
    display: block;
    text-align: center;
    font-size: 20px;
}

.user-link-compliance .user-name {
    color: #fff;
    font-size: 16px;
    padding-top: 6px;
}

/******** header *********/

.contain-main {
    /*margin-top: 35px;*/
    padding-top: 35px;
    /*background: #e9ecf2;*/
}
.compliance-background{
    background: #e9ecf2;
}

/****** acordian ******/
.contain-main .panel-group .panel + .panel {
    margin-top: 15px;
}

.contain-main .panel-heading {
    background: #0d011f none repeat scroll 0 0;
    color: #fff;
    padding: 15px;
}

.contain-main .panel {
    /*border: solid 2px #0d011f;*/

    border: 0;
}

.contain-main .panel .panel-heading h2 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.1px;
    margin: 0;
}

.contain-main .panel .panel-heading h2 + h3 {
    margin: 7px 0 0;
}

.contain-main .panel .panel-heading h3 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
    position: relative;
    margin: 0;
}
.contain-main.compliance-main .panel .panel-heading h3{
    font-weight: 600;
}
.contain-main.compliance-main .panel .panel-body .panel-body-inner.compliance-experts{
    padding: 0;
}
.contain-main.compliance-main .panel .panel-body .panel-body-inner{
    border-bottom: none;
}

.contain-main .panel .panel-heading h3 .date {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.contain-main .panel .panel-heading h3 .date {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.contain-main .panel .panel-heading h3 a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.contain-main .panel-heading h3 span {
    font-weight: 300;
}

.contain-main .panel .panel-body {
    /*background: #f5f5f5 none repeat scroll 0 0;*/
    padding: 0;

    /*background: #e9ecf2 none repeat scroll 0 0;*/
}

.contain-main .panel .panel-body .panel-body-inner {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.contain-main .panel .panel-body .panel-body-inner:last-child {
    border-bottom: medium none;
}

.contain-main .panel .panel-body label {
    color: #1a1a1a;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}

.contain-main .panel .panel-body .Ex_list {
    display: inline-block;
}

.contain-main .panel .panel-body span {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 0 5px;
    color: #0d011f;
}

.contain-main .panel .panel-body .exp-btn {
    background: #0d011f none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.contain-main .panel .panel-body p {
    font-size: 15px;
}

.contain-main .panel .panel-body p:last-child {
    margin: 0;
}

.contain-main .social-btn {
    text-align: right;
}

.contain-main .social-btn a {
    background: #0d011f none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    letter-spacing: -0.1px;
    padding: 5px 10px;
    text-align: center;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}

.contain-main .social-btn a:hover {
    background: #343634;
}

.contain-main .social-btn a i {
    font-size: 24px;
    margin: 0 0 5px;
}

.contain-main .social-btn a span {
    display: block;
}

.contain-main .panel .panel-body .link-box {
    margin: 20px 1px 0;
    text-align: right;
}

.contain-main .panel .panel-body .link-box a {
    border: 2px solid #662d91;
    border-radius: 20px;
    font-size: 15px;
    color: #662d91;
    display: inline-block;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}

.contain-main .panel .panel-body .link-box a:hover {
    background: #662d91 none repeat scroll 0 0;
    color: #fff;
}

.contain-main .des-box {
    position: relative;
    /*padding-right: 50px;*/

    padding: 10px 50px 10px 0;
}

.contain-main .des-box a.edit-btn {
    color: #1a1a1a;
    position: absolute;
    right: 5px;
    top: 3px;
}

.contain-main .des-box p {
    margin: 0;
}

.contain-main .panel .panel-body .panel-body-inner .link-box {
    margin: 2px 0 0 0;
}

.contain-main .exp-list .img-box {
    border: 2px solid #000;
    border-radius: 50px;
    float: left;
    height: 40px;
    overflow: hidden;
    width: 40px;
}

.contain-main .exp-list .img-box img {
    width: 100%;
}

.contain-main .exp-list .detail-box {
    padding-left: 55px;
}

.contain-main .exp-list .detail-box h3 {
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;
    margin: 0;
}

.contain-main .exp-list .detail-box h3 + h2 {
    margin: 3px 0 0;
}

.contain-main .exp-list .detail-box h2 {
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
}

.contain-main .exp-list.no-img .detail-box {
    padding: 0;
}

.contain-main .exp-list.no-img .detail-box span {
    display: block;
    margin: 3px 0 0;
}


.expert-box .panel.panel-default{
    box-shadow: 0 2px 10px 0 rgba(34, 34, 36, 0.3);
    border-radius: 7px;
    overflow: hidden;
}
.expert-box .info-box{
    box-shadow: 0 2px 10px 0 rgba(34, 34, 36, 0.3);
    /*background: #fff;*/
}
.experienceAddbtn i{
    font-style: normal;
    font-size: 27px;
    line-height: 1;
}
.educationAddbtn i{
    font-style: normal;
    font-size: 27px;
    line-height: 1;
}
.expert-box .social-btn i{
    font-style: normal;
    font-size: 27px;
    line-height: 1;
}
.expert-box .fileinput-new.thumbnail{
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 150px;
    border-radius: 100px;
    border: 3px solid #0d011f;
}
.info-box {
    background: #f5f5f5;
    /*border: 2px solid #000;*/
    border-radius: 7px;
    margin: 0 0 15px;
    /*padding: 15px 120px 15px 15px;*/
    padding: 15px 15px 15px 15px;
    position: relative;
}

.info-box .info-social {
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.info-box .info-social .social-btn {
    display: table;
    height: 100%;
}

.info-box .info-social .social-btn a {
    border-radius: 0;
    display: table-cell;
    vertical-align: middle;
}

.info-box a.info-edit-btn {
    border: 2px solid #662d91;
    border-radius: 20px;
    color: #662d91;
    display: inline-block;
    font-size: 15px;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    position: absolute;
    /*right: 127px;*/
    right: 20px;
    text-align: center;
    text-decoration: none;
    top: 18px;
    transition: all 300ms ease 0s;
}

.info-box a.info-edit-btn:hover {
    background: #662d91 none repeat scroll 0 0;
    color: #fff;
}

.info-box a.edit-btn {
    bottom: 10px;
    color: #1a1a1a;
    position: absolute;
    right: 125px;
}

.info-box .img-box {
    float: left;
    position: relative;

}

.img-box.experts {
    margin-right: -100%;
    /*width: 195px;*/
    width: 125px;
}

.img-box.experts .fileinput {
    width: 100%;
    text-align: center;
}

.info-box .img-box .img-box-inner {
    border: 3px solid #0d011f;
    border-radius: 100px;
    height: 100px;
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
    position: relative;

}

.info-box .img-box .rank {
    background: #0d011f none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
}

.info-box .thumbnail {
    position: relative;
}

.info-box .img-box img {
    width: auto;
    bottom: -9999px;
    height: auto;
    left: -9999px;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    right: -9999px;
    top: -9999px;
    width: auto;
    max-width: 150%;
    max-height: 150%;
}

.info-box .info-des-box {
    /*padding: 10px 0 0 120px;*/

    float: left;
    /*padding-left: 210px;*/
    padding-left: 145px;
    width: 100%;
    padding-right: 165px;
    padding-top: 10px;
}

.info-box .info-des-box h3 {
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 17px;
    margin: 0;
}

.info-box .info-des-box h3 input,
.expertBioinfo textarea {
    /*background: transparent;*/
    border: none;
    width: 100%;
    resize: none;
    background: #EBECF1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: -1px 1px 2px #999 inset;
}
.expertBioinfo i{
    margin-left: 10px;
}

.info-box .info-des-box h3 + h2 {
    margin: 5px 0 0;
}

.info-box .info-des-box h2 {
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 17px;
    margin: 0;
}

.info-box .info-des-box p {
    font-size: 16px;
    margin: 15px 0 0;
}
.expert-box .panel-heading {
    padding: 3px 15px;
    height: 22px;
}
.expert-box .panel .panel-heading h3 {
    font-weight: 600;
    letter-spacing: 0.2px;
}
.FrmEditExperience .popup-submit-btn{
    margin-bottom: 10px;
}
#education .popup-submit-btn{
    margin-bottom: 10px;
}
#skill .popup-submit-btn{
    margin-bottom: 10px;
}
.expert-box .panel .panel-body .panel-body-inner {
    border-bottom: 1px solid #ccc;
    padding: 8px 15px;
}

.contain-main .panel .panel-body h3 {
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.contain-main .panel .panel-body h4 {
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 5px 0 0;
}

.contain-main .panel .panel-body h4 + p {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
}

.contain-main .panel .panel-body .detail-box {
    padding-right: 20px;
    position: relative;
}

.contain-main .panel .panel-body .detail-box a.edit-btn {
    bottom: 0px;
    color: #1a1a1a;
    position: absolute;
    right: 0;
}

.contain-main .add-btnbox {
    margin: 10px 0;
    text-align: right;
}

.contain-main .add-btnbox .social-btn {
    display: inline;
}

.contain-main .add-btnbox .social-btn a {
    display: table-cell;
    height: 90px;
    min-width: 105px;
    vertical-align: middle;
}

.contain-main .panel .panel-body .select-box {
    border: 2px solid #662d91;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
    position: relative;
}

.contain-main .panel .panel-body .select-box::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #662d91;
    content: "";
    position: absolute;
    right: 8px;
    top: 12px;
}

.contain-main .panel .panel-body .select-box select {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 30px;
    padding: 0px 0 0 15px;
    width: 97%;
}

.contain-main .panel .panel-body .file-uploader {
    position: relative;
    text-align: right;
}

.contain-main .panel .panel-body .file-uploader .file-inner {
    display: inline-block;
    width: 120px;
}

.contain-main .panel .panel-body .file-uploader input[type="file"] {
    height: 30px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    width: 100%;
    z-index: 2;
}

.contain-main .panel .panel-body .file-uploader button {
    border: 2px solid #662d91;
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    z-index: 1;
}

.contain-main .panel .panel-body .panel-body-inner .input-box textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    width: 100%;
    resize: none;
}

.contain-main .panel .panel-body .panel-body-inner .input-box + .input-box {
    margin-top: 7px;
}

.contain-main .panel .panel-body .panel-body-inner .input-box .checkbox {
    margin: 10px 0 0;
}

.contain-main .panel .panel-body .panel-body-inner .input-box .checkbox label {
    background-image: url("../images/rdo-unchk.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    font-weight: normal;
    padding-left: 25px;
}

.contain-main .panel .panel-body .panel-body-inner .input-box .checkbox input {
    margin: 1px 0 0 2px;
    opacity: 0;
}

.contain-main .panel .panel-body .panel-body-inner .input-box .checkbox [type="checkbox"]:checked + label {
    background-image: url("../images/rdo-chk.png");
}

.contain-main .btnbox {
    text-align: right;
    margin-top: 10px;
}

.contain-main .btnbox a,
.contain-main .btnbox button {
    background: #fff;
    border: 2px solid #662d91;
    border-radius: 20px;
    color: #662d91;
    display: inline-block;
    font-size: 15px;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    top: 18px;
    transition: all 300ms ease 0s;
}

.contain-main .btnbox a:hover {
    background: #662d91 none repeat scroll 0 0;
    color: #fff;
}

/********* Popup **********/

.custom-popup .modal-header {
    border: medium none;
    padding: 0;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 4px;
    z-index: 9;
}

.custom-popup .modal-body {
    padding: 30px 15px 15px 15px;
}

.custom-popup .modal-body .contain-main {
    margin: 0;
}

.custom-popup .modal-body .contain-main .container {
    padding: 0;
    width: 100%;
}

.custom-popup .modal-body .contain-main .container .panel-group {
    margin: 0;
}

.custom-popup .modal-body .contain-main .container .panel-group .input-box input {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    height: 35px;
    width: 100%;
}

.custom-popup .modal-body .popup-submit-btn {
    text-align: center;
    margin-top: 10px;
}

.custom-popup .modal-body .popup-submit-btn button,
.message-popup .modal-footer .popup-submit-btn button,
.custom-popup .modal-body .popup-submit-btn a,
.message-popup .modal-footer .popup-submit-btn a {
    border: 2px solid #662d91;
    /*border-radius: 20px;*/
    color: #662d91;
    display: inline-block;
    font-size: 15px;
    margin: 0 0 0 3px;
    /*min-width: 130px;*/
    padding: 5px 15px;
    right: 127px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    background: #fff;

    border-radius: 0;
    min-width: 170px;
}

.custom-popup .modal-body .popup-submit-btn button:hover,
.message-popup .modal-footer .popup-submit-btn button:hover,
.custom-popup .modal-body .popup-submit-btn a:hover,
.message-popup .modal-footer .popup-submit-btn a:hover {
    background: #662d91 none repeat scroll 0 0;
    color: #fff;
}

/********* Popup **********/

.Notfound {
    text-align: center;
    margin: 10px auto !important;
}

.help-block {
    color: #ff0000 !important;
    font-size: 12px !important;
    margin: 0 !important;
}

input, textarea, button, select {
    outline: none;
}

.presenttxt {
    display: none;
}

.contain-main .panel-heading {
    border-radius: 0;
}

/* message popup css */

.modal.message-popup {
    background: rgba(0, 0, 0, 0.2);
    /*    -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);*/
}

.modal.message-popup .modal-dialog {
    margin: 50px auto 10px;
    box-shadow: 0 6px 15px 2px rgba(0, 0, 0, 0.3);
}

.message-popup .modal-content,
.custom-popup .modal-content {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 7px;
    /*overflow: hidden;*/
}

.message-popup .modal-content .modal-body {
    background: #fff;
    text-align: center;
    /*border: 2px solid #0d011f;*/
    border-radius: 4px;
    padding-top: 40px;
}

.message-popup .modal-content .modal-body .popupiconarea,
.custom-popup .modal-content .modal-body .popupiconarea {
    margin-bottom: 15px;

    position: absolute;
    top: -37px;
    left: 50%;
    transform: translate(-50%, 0);
}

.message-popup .modal-content .modal-body .popupiconarea img,
.custom-popup .modal-content .modal-body .popupiconarea img {
    /*box-shadow: 0 7px 8px -4px rgba(0,0,0,0.3);*/
}

.message-popup .modal-content .modal-body .popupiconarea i.fa {
    font-size: 40px;
}

.message-popup .modal-content .modal-body p {
    color: #0d011f;
    font-size: 16px;
}

.message-popup .modal-content .modal-footer {
    border: none;
    background: none;
    text-align: center;
    background: #fff;
}

.modal.custom-popup .modal-header .close {
    margin-top: -12px;
    margin-right: 7px;
    color: #662d91;
    font-size: 20px;
    background: #fff;
    border: 2px solid #662d91;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    line-height: 22px;
    opacity: 1;
    font-weight: lighter !important;
}

.message-popup .modal-content .panel-group .panel,
.custom-popup .modal-content .panel-group .panel,
.message-popup .modal-content .panel-group .panel .panel-body,
.custom-popup .modal-content .panel-group .panel .panel-body {
    border-radius: 8px;
}

/* message popup css */

/* New Design Changes*/
.contain-main .panel-heading {
    position: relative;
}

.contain-main .panel-heading .cus-tab-container {
    position: absolute;
    right: -2px;
    top: -35px;
    width: 448px;
}

.contain-main.customer-background .panel-heading .cus-tab-container {
    position: absolute;
    right: -2px;
    top: -35px;
    width: 462px;
    background: #eaecf2;
}

.contain-main .panel-heading .cus-tab-container .cus-tabs {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
}

.contain-main .panel-heading .cus-tab-container .cus-tabs li {
    float: left;
    width: 112px;
    color: #fff;
    padding: 0px;
    background: #0D011F;
    border-radius: 8px 8px 0 0;
    /*border: 2px solid #fff;*/
    border: 0;
    border-bottom: 0;
    min-height: 82px;

    margin: 0 2px;
    box-shadow: 5px -5px 16px 0px #ccc;
}

.contain-main .panel-heading .cus-tab-container .cus-tabs li:first-child {
    margin-left: 0 !important;
}

.contain-main .panel-heading .cus-tab-container .cus-tabs li:hover,
.contain-main .panel-heading .cus-tab-container .cus-tabs li.active {
    background: #fff;
    /*border: 2px solid #0D011F;*/
    border: 0;
    border-bottom: 0;
}

.contain-main .panel-heading .cus-tab-container .cus-tabs li a {
    color: #fff;
    text-align: center;
    display: block;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

.contain-main .panel-heading .cus-tab-container .cus-tabs li > a > label {
    font-weight: normal;
    font-size: 16px;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    margin: 4px 0 0;
    line-height: 28px;
}

.contain-main .panel-heading .cus-tab-container .cus-tabs li:hover > a,
.contain-main .panel-heading .cus-tab-container .cus-tabs li:hover > a > label,
.contain-main .panel-heading .cus-tab-container .cus-tabs li.active > a,
.contain-main .panel-heading .cus-tab-container .cus-tabs li.active > a > label {
    color: #0D011F;
}

.contain-main .panel.nested-panel-body {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    display: none;
}

.contain-main .panel.nested-panel-body .panel-body-inner {
    padding: 0;
}

.contain-main .panel.nested-panel-body .panel-body:last-child {
    border-bottom: none;
}

.contain-main .panel.nested-panel-body .panel-body .link-box a {
    background: #fff;
}

.contain-main .panel.nested-panel-body .panel-body .link-box a:hover {
    background: #662d91;
}

.project-status {
    position: absolute;
    top: -35px;
    left: 10px;
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.page-loading {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    background: #fff;
    width: 100px;
    padding: 5px 5px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #0D011F;
    color: #0D011F;
    border-radius: 2px;
}

/* New Design Changes*/

/* Do compliance Questionaries Design */
.docompliance-container h3.page-heading {
    font-family: 'open sans';
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: #0d011f;
    margin-bottom: 22px;
    margin-top: 0;
}

.docompliance-container p {
    font-family: 'open sans';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0d011f;
    margin-bottom: 25px;
}

ul.listitems {
    padding: 0 22px;
    color: #0d011f;
}

ul.listitems li {
    font-family: 'open sans';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0d011f;
}

.docompliance-container b {
    font-family: 'open sans';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0d011f;
    display: block;
}

.next-btn {
    border: 2px solid #662d91;
    border-radius: 20px;
    font-size: 15px;
    color: #662d91;
    display: inline-block;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    text-decoration: none !important;
    margin-bottom: 47px;
}

.next-btn:hover {
    background: #662d91;
    color: #fff;
}

.icon-area {
    text-align: center;
    margin-bottom: 25px;
}

.result-icon, .result-text {
    display: none;
}

/* Do compliance Questionaries Design */

/* Footer CSS */
/*.....footer....*/
.footer_section2 {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer-con-text {
    margin-top: 10px;
}

.footer-con-text label {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
}

.footer-con-text span {
    float: right;
    text-align: right;
}

a.privacy-policy {
    color: #fff;
    text-decoration: none;
    padding-top: 0;
    display: block;
    position: absolute;
    bottom: 18px;
    left: 210px;
    border-left: 1px solid #fff;
    padding-left: 15px;
    line-height: 1;
    font-size: 14px;
}

.map-con {
    background: #ccc none repeat scroll 0 0;
    border-radius: 20px;
    height: 310px;
    margin-top: 16px;
    overflow: hidden;
    /*width: 480px;*/
}

.section4-con {
    float: left;
    padding-left: 40px;
    width: 60%;
}

.section4-img {
    float: left;
    height: 250px;
    margin-left: 40px;
    margin-top: 50px;
}

.section4-img > img {
    height: 100%;
}

.section4-con > h2 {
    color: #000;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 15px;
}

.section4-con > p {
    font-size: 19px;
    margin: 0 auto;
    width: 75%;
}

.section4-subCon {
    margin: 0 auto;
    width: 90%;
}

.section4-subCon .left {
    float: left;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 5px;
    width: 50%;
}

.section4-subCon .right {
    float: left;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    width: 50%;
}

/*.section4-subCon .left > span {
    display: block;
    padding: 0 51px;
}
.section4-subCon .right > span {
    display: block;
    padding: 0 35px;
}*/
.contain-help {
    padding: 0 20px;
}

.footer_section2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* background: #2d104b;*/
    /*background: #662d91;*/
    /*background: #632263;*/
    /*background: #471048;*/
    background: #1b0034;
    color: #fff;
}

.footer_section2 h1, .footer_section2 h2, .footer_section2 h3, .footer_section2 h4, .footer_section2 h5, .footer_section2 h6 {
    font-family: 'Open Sans', sans-serif;
}

.footer_section2 {
    line-height: normal;
}

.footer_section2 h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    line-height: normal;
}

.footer_section2 .margin0 {
    margin: 0 !important;
}

.footer_section2 .footer-wrap {
    margin: 0 auto;
    padding: 25px 20px 15px;
    position: relative;
    width: 1200px;
}

.footer_section2 .left {
    float: left;
    width: 50%;
}

.footer_section2 .right {
    float: left;
    width: 50%;
}

.address-con {
    float: right;
    width: 65%;
}

.address-con .heading {
    font-size: 20px;
    margin-top: 0;
}

.address p span {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
    width: 120px;
}

.address label {
    display: inline-block;
    font-size: 14px;
    /*width: 65%;*/
    font-weight: 400;
    margin: 0;
}

.address label a {
    color: #fff;
    text-decoration: none;
}

.address label a:hover {
    color: #fff;
    text-decoration: none;
}

.fSection-hed {
    width: 73%;
}

.fSection-hed i {
    font-size: 24px;
}

.copyright {
    bottom: 18px;
    position: absolute;
    line-height: 1;
    font-size: 14px;
}

.clear {
    clear: both;
}

/* Footer CSS */

/* Jplayer CSS */
.jp-audio {
    width: 80%;
    margin: 0 auto !important;
    background: none !important;
    border: none !important;
}

.jp-audio .jp-type-single .jp-progress {
    left: 0 !important;
    width: 100% !important;
    position: relative !important;
    right: auto !important;
    margin: 0 auto !important;
    top: 0 !important;
    height: 20px;
}

.jp-audio .jp-controls {
    width: 100% !important;
    padding: 10px 0 !important;
}

.jp-play, .jp-stop {
    float: none !important;
    display: inline-block !important;
}

/*.jp-play, .jp-play:focus {*/
/*background: url('../images/play.png') no-repeat center top / 100% !important;*/
/*height: 37px !important;*/
/*width: 38px !important;*/
/*}*/

.jp-play {
    background: url('../images/play.png') no-repeat center top / 100% !important;
    height: 37px !important;
    width: 38px !important;
}

.jp-state-playing .jp-play {
    background: url('../images/pause.png') no-repeat center top / 100% !important;
}

.jp-stop {
    background: url('../images/stop.png') no-repeat center top / 100% !important;
    height: 37px !important;
    width: 38px !important;
}

.jp-seek-bar {
    background: none !important;
    background-color: #1B0034 !important;
    border-radius: 4px !important;
    padding: 7px 8px !important;
    width: 100% !important;
}

.jp-play-bar {
    background: none !important;
    background-color: #fff !important;
    border-radius: 1px !important;
}

.jp-audio .jp-interface,
.jp-audio-stream .jp-interface {
    text-align: center;
    background: none !important;

}

/*--------------compliance ---------------------*/
.compliance-search {
    margin-bottom: 35px;
}

.compliance-search select {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 14px 2px #ccc;
    padding: 12px 35px 13px 15px;
    border-radius: 5px;
    text-align: center;
    display: block;
    position: relative;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*font-weight: bold;*/
    color: #000;
    font-size: 17px;
}

.compliance-search option {
    /*font-weight: bold;*/
    color: #000;
    font-size: 17px;
}

.compliance-search input {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 14px 2px #ccc;
    padding: 12px 15px 13px;
    border-radius: 5px;
    text-align: center;
    /*font-weight: bold;*/
    color: #000;
    font-size: 17px;
}

.compliance-search select.minimal {
    background-image: linear-gradient(45deg, transparent 40%, black 50%),
        linear-gradient(135deg, black 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(53%),
        calc(100% - 15px) calc(53%),
        calc(100% - 38px) calc(1%);
    /*100% 0;*/
    background-size: 5px 5px,
        5px 6px,
        1px 100%;
    background-repeat: no-repeat;
}

.compliance-search .search {
    position: relative;
}

.compliance-search .searching {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    display: block;
    width: 54px;
    height: 100%;
    padding-right: 15px;
    padding-top: 16px;
    border-left: 1px solid #ccc;
    color: #000;

}

.compliance-search input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}

.compliance-search input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}

.compliance-search input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}

.compliance-search input[type="text"]:-moz-placeholder { /* Firefox 18- */
    color: #000;
}

.compliance-call table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

.compliance-call table.dataTable.complianceList tr th,
.compliance-call table.dataTable.complianceList tr td {
    text-align: left;
}
.compliance-call table.dataTable.complianceList tr td {
    padding:13px 15px !important;
}
.compliance-call table.dataTable.complianceList tr th:nth-child(1),
.compliance-call table.dataTable.complianceList tr td:nth-child(1){
    width: 10%;
}
.compliance-call table.dataTable.complianceList tr th:nth-child(2),
.compliance-call table.dataTable.complianceList tr td:nth-child(2){
    width: 15%;
    text-align: center;
}
.compliance-call table.dataTable.complianceList tr th:nth-child(3),
.compliance-call table.dataTable.complianceList tr td:nth-child(3){
    width: 13%;
    text-align: center;
}
.compliance-call table.dataTable.complianceList tr td:nth-child(3){
    /*text-align: left;*/
}
.compliance-call table.dataTable.complianceList tr th:nth-child(4),
.compliance-call table.dataTable.complianceList tr td:nth-child(4){
    width: 15%;
    text-align: center;
}
.compliance-call table.dataTable.complianceList tr th:nth-child(5),
.compliance-call table.dataTable.complianceList tr td:nth-child(5){
    width: 18%;
    text-align: center;
}
.compliance-call table.dataTable.complianceList tr th:nth-child(6),
.compliance-call table.dataTable.complianceList tr td:nth-child(6){
    width: 15%;
    text-align: center;
}
.compliance-call table.dataTable.complianceList tr th:nth-child(7),
.compliance-call table.dataTable.complianceList tr td:nth-child(7){
    width: 10%;
    text-align: center;
}


.compliance-call table.dataTable.complianceList tr th:nth-child(2),
.compliance-call table.dataTable.complianceList tr td:nth-child(2),
.compliance-call table.dataTable.complianceList tr td:nth-child(5),
.compliance-call table.dataTable.complianceList tr td:nth-child(6),
.compliance-call table.dataTable.complianceList tr td:nth-child(7) {
    text-align: center;
}

.compliance-call table tr th.sorting_asc:after {
    opacity: 0;
}

.compliance-call table tr th.sorting_desc:after {
    opacity: 0;
}

.compliance-call table.dataTable thead .sorting_desc {
    background-image: url(../../../public/assets/global/plugins/datatables/images/sort_desc.png);
}

.replayCalls, .transcriptCalls{
    color: #662d91;
    text-decoration: none;
    font-weight: normal;
    margin: 0 5px 1px 0;;
    padding: 6px 15px;
    border: 2px solid #662d91;
    border-radius: 31px;
    width: 45%;
    min-width: 95px;
    display: inline-block;
    text-align: center;
    font-size: 14px !important;
}
.replayCalls:hover, .transcriptCalls:hover{
    text-decoration: none;
}

/*-------customer pro---------*/
.child-accordian-panel-body {
    margin-bottom: 0px;
    padding: 15px 0 !important;
    border-bottom: 1px solid #ccc;
}

.child-accordian-panel-body:last-child {
    /*margin-bottom: 0 !important;*/
    /*border-bottom: 0 !important;*/
    /*padding-bottom: 0 !important;*/
}

.contain-main .panel .panel-body.child-accordian-panel-body .link-box {
    margin-top: 0;
}

.editableTextarea {
    background: transparent;
    border: none;
    width: 100%;
    display: block;
    overflow: hidden;
}

/*...................*/

/*-----------------------*/

.compliance {
    /*background: #fff;*/
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

.compliance-search {
    font-family: 'Open Sans', sans-serif;
}

.compliance .table-responsive {
    background: #fff;
    box-shadow: 0px 2px 13px 1px #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.compliance table.dataTable {
    margin: 0 !important;
}

.compliance table td, .compliance table th {
    vertical-align: middle !important;
    border: 0 !important;
    font-size: 15px;
    font-weight: normal !important;
}

.compliance table {
    border-radius: 10px !important;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0px 2px 14px 2px #ccc;
    border: 0;
}

.compliance .table-responsive,
.compliance table {
    border-radius: 0 0px 8px 8px !important;
}

.compliance table th {
    font-size: 16px;
    padding: 2px 10px !important;
}

.compliance table.dataTable.no-footer {
    border: 0;
}

.complianceList th {
    /*text-align: center;*/
    background: #0C021D;
    color: #fff;
    height: 39px;

}

.complianceList th {
    text-align: left;
    font-weight: 300;;
}

.complianceList td {
    text-align: left;
    font-weight: normal;
    padding: 12px 8px !important;
}

.complianceList td.date, .complianceList th.date {
    padding-left: 15px !important;
}

.complianceList tbody tr:nth-child(even) {
    background: #E9ECF3;
}

.complianceList tbody tr {
    height: 50px;
    /*font-weight: bold;*/
    text-align: center;
}

.compliance .sorting {
    position: relative;
}

.complianceList tbody tr a {
    color: #595959;
    font-size: 18px;
    /*text-decoration: none;*/
    /*font-weight: normal;*/
    /*margin: 0 10px;*/
    /*padding: 4px 15px;*/
    /*border: 2px solid #0C021D;*/
    /*border-radius: 31px;*/
    /*width: 130px;*/
    /*display: inline-block;*/
    /*text-align: center;*/
    /*font-weight: 600;*/
}

.compliance th.date {
    width: 15%
}

.compliance.completed_calls th.date {
    width: 25%;
}

.compliance th.user {
    width: 18%
}

.compliance th.expert {
    width: 18%
}

.compliance th.project {
    width: 20%
}

.compliance th.reply {
    width: 29%
}

.compliance .compliance-search {
    margin-bottom: 30px;
}

.experts .btn-file {
    border: 2px solid #662d91;
    border-radius: 20px;
    color: #662d91;
    display: inline-block;
    font-size: 15px;
    margin: 0 0 0 3px;
    min-width: 90px;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

.experts .fileinput-exists a.btn.red.fileinput-exists {
    border: 2px solid #662d91;
    border-radius: 20px;
    color: #662d91;
    display: inline-block;
    font-size: 15px;
    margin: 0 0 0 3px;
    min-width: 90px;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

.experts .upload {
    border: 2px solid #662d91;
    background: #fff;
    border-radius: 20px;
    color: #662d91;
    /*display: inline-block;*/
    font-size: 15px;
    margin: 0 auto;
    display: block;
    min-width: 90px;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
}

.expertCustom-btn {
    width: 170px;
    text-align: center;
}

/*-------Customer-table--------------------------------*/
.customer-panel .panel-heading {
    border-radius: 10px 0 0 0;
}
.compliance-main .customer-panel .panel-heading {
    border-radius: 10px 10px 0 0;
}
.panel-body-inner.enrolls {
    padding-top: 0 !important;
}

.col-md-12.description-box {
    box-shadow: 0px 2px 14px 0px #ccc;
    margin-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
}

.customer-prospect {
    /*background: #fff;*/
    /*margin-bottom: 25px;*/
    font-family: 'Open Sans', sans-serif;
}

.customer-prospect table {
    border-radius: 10px !important;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0px 2px 14px 2px #ccc;
    border: 0;
    background: #eaecf2;
    margin: 0 !important
}

.customer-prospect table.dataTable {
    margin: 0 !important
}

.customer-prospect table.dataTable tbody tr {
    background: #eaecf2;
}

.customer-prospect table.dataTable tbody tr:nth-of-type(odd) {
    background: #fff;
}

.customer-prospect table > tbody > tr:hover {
    background-color: #eaecf2;
}

.customer-prospect table tr {
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

.customer-prospect table tr td {
    vertical-align: middle;
    border: 0;
    width: 15%;
}

.customer-prospect table tr td:first-child {
    text-align: left;
    width: 20%;
}

.customer-prospect table tr td:first-child img {
    margin-left: 15px;
}

.customer-prospect table tr td label {
    font-weight: 500 !important;
    margin-left: 8px;
    width: 152px;
    vertical-align: middle;
}

.customer-prospect table tr td:last-child {
    width: 20%;
}

.customer-prospect tbody tr a {
    color: #662d91;
    text-decoration: none;
    font-weight: normal;
    margin: 0 10px;
    padding: 7px 15px;
    border: 2px solid #662d91;
    border-radius: 31px;
    width: 150px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.customer-prospect tbody tr span {
    margin: 0 0 0 0 !important;
    font-weight: 600;
    display: block;
    position: relative;
}

.customer-prospect tbody tr span.disabled {
    opacity: 0.3;
}

.customer-prospect tbody tr span i {
    display: block;
    font-size: 22px;

}

.customer-prospect tbody tr span i:first-child {
    margin-bottom: 5px;

}

.customer-prospect tbody tr span i:nth-child(2) {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14px;
    left: 13px;
    bottom: 20px;
    font-weight: 100;
}

.customer-prospect tbody tr span.conversation i:nth-child(2) {
    left: 17px;
    bottom: 20px;
}

.customer-prospect tbody tr span.contract i:nth-child(2) {
    left: 12px;
    bottom: 20px;
}

.customer-prospect tbody tr span.reached {
    font-weight: 500 !important;
}

.customer-prospect tbody tr span.conversation {
    font-weight: 500 !important;
}

.customer-prospect tbody tr span.contract {
    font-weight: 500 !important;
}

.customer-prospect tbody tr span.qualification {
    font-weight: 500 !important;
}

.customer-prospect tbody tr span i.tick {
    color: #28ca13;
}

.customer-prospect tbody tr span i.cross {
    color: red;
}

.customer-prospect table.dataTable.no-footer {
    border-bottom: 0;
}

.customer-prospect .table-responsive {
    overflow-x: visible;
}

.customer-prospect table thead {
    display: none;
}

/*-------------------Experts----------------------------*/
.customer-experts table {
    border-radius: 10px !important;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0px 2px 14px 2px #ccc;
    border: 0;
    background: #eaecf2;
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

.customer-experts table.dataTable {
    margin: 0 !important
}

.customer-experts .table-responsive {
    overflow-x: visible;
}

.customer-experts .table.dataTable.no-footer {
    border-bottom: none;
}

.customer-experts table thead {
    display: none;
}

.customer-experts table.dataTable tbody tr {
    background: #eaecf2;
}

.customer-experts table.dataTable tbody tr.odd {
    background: #fff;
}

.customer-experts table td {
    vertical-align: middle !important;
    border: 0 !important;
    width: 15%;
    font-size: 16px;
}

.customer-experts table td:first-child {
    vertical-align: middle !important;
    border: 0 !important;
    width: 70%;
    padding-left: 25px;
}

.customer-experts table td:nth-child(2) {
    text-align: right;
}

.customer-experts table td img {
    border: 2px solid;
}

.customer-experts table td div.experts-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 660px;
}

.customer-experts table td div.experts-name p {
    margin-bottom: 0;
}

.customer-experts table tbody tr a {
    color: #662d91;
    text-decoration: none;
    font-weight: normal;
    margin: 0 10px;
    padding: 7px 15px;
    border: 2px solid #662d91;
    border-radius: 31px;
    width: 150px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.customer-experts table tbody tr td img {
    width: 35px;
    height: 35px;
    overflow: hidden;
}

/*-------------------Compliance - Experts----------------------------*/

.compliance-experts table {
    border-radius: 10px !important;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0px 2px 14px 2px #ccc;
    border: 0;
    background: #eaecf2;
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

.compliance-experts table.dataTable {
    margin: 0 !important
}

.compliance-experts .table-responsive {
    overflow-x: visible;
}

.compliance-experts .table.dataTable.no-footer {
    border-bottom: none;
}

.compliance-experts table thead {
    /*display: none;*/
}

.compliance-experts table.dataTable tbody tr {
    background: #eaecf2;
}

.compliance-experts table.dataTable tbody tr.odd {
    background: #fff;
}

.compliance-experts table td {
    vertical-align: middle !important;
    border: 0 !important;
    width: 15%;
    font-size: 16px;
}

.compliance-experts table td:first-child {
    vertical-align: middle !important;
    border: 0 !important;
    width: 70%;
    padding-left: 25px;
}

.compliance-experts table td:nth-child(2) {
    text-align: right;
}

.compliance-experts table td img {
    border: 2px solid;
}

.compliance-experts table td div.experts-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 660px;
}

.compliance-experts table td div.experts-name p {
    margin-bottom: 0;
}

.compliance-experts table tbody tr a {
    color: #662d91;
    text-decoration: none;
    font-weight: normal;
    margin: 0 10px;
    padding: 7px 15px;
    border: 2px solid #662d91;
    border-radius: 31px;
    width: 150px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.compliance-experts table tbody tr td img {
    width: 35px;
    height: 35px;
    overflow: hidden;
}



/*--------------Customer-calls-----------------------------------*/
.customer-calls table tbody tr a {
    color: #662d91;
    text-decoration: none;
    font-weight: normal;
    margin: 0 10px;
    padding: 7px 15px;
    border: 2px solid #662d91;
    border-radius: 31px;
    width: 150px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.customer-calls table {
    border-radius: 10px !important;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0px 2px 14px 2px #ccc;
    border: 0;
    background: #eaecf2;
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.customer-calls table.dataTable {
    margin: 0 !important
}

.customer-calls .table-responsive {
    overflow-x: visible;
}

.customer-calls .table.dataTable.no-footer {
    border-bottom: none;
}

.customer-calls table thead {
    display: none;
}

.customer-calls table.dataTable tbody tr {
    background: #eaecf2;
}

.customer-calls table.dataTable tbody tr.odd {
    background: #fff;
}

.customer-calls table td {
    vertical-align: middle !important;
    border: 0 !important;
    width: 16%;
    text-align: center;
}

.customer-calls table td:first-child {
    text-align: left;
    padding-left: 40px;
    width: 36%;
}

.customer-calls table td span {
    vertical-align: middle !important;
    border: 0 !important;
    width: 20%;
    color: #333 !important;
    font-weight: 500 !important;
    margin: 0 !important;
}

.customer-calls table td div.calls-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    /*width: 315px;*/
    width: 175px;
}

/*----------------Complete Calls---------------------------------*/

.complete-calls table {
    border-radius: 10px !important;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0px 2px 14px 2px #ccc;
    border: 0;
    background: #eaecf2;
    margin: 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.complete-calls table.dataTable {
    margin: 0 !important
}

.complete-calls .table-responsive {
    overflow-x: visible;
}

.complete-calls .table.dataTable.no-footer {
    border-bottom: none;
}

.complete-calls table thead {
    display: none;
}

.complete-calls table.dataTable tbody tr {
    background: #eaecf2;
}

.complete-calls table.dataTable tbody tr.odd {
    background: #fff;
}

.complete-calls table td {
    vertical-align: middle !important;
    border: 0 !important;
    width: 16%;
    text-align: center;
}

.complete-calls table td:first-child {
    text-align: left;
    padding-left: 40px;
}

.complete-calls table td:first-child {
    width: 36%;
}

.complete-calls table td:last-child {
    text-align: right;
    width: 32%;
    padding-right: 20px !important;
}

.complete-calls table td span {
    vertical-align: middle !important;
    border: 0 !important;
    width: 20%;
    color: #333 !important;
    font-weight: 500 !important;
}

.complete-calls table td div.completed-name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    width: 315px;
}

.complete-calls table td div.completed-name span {
    margin: 0 !important;
}

.complete-calls table tbody tr td a {
    color: #662d91;
    text-decoration: none;
    /*font-weight: normal;*/
    margin: 0 5px;
    padding: 7px 15px;
    border: 2px solid #662d91;
    border-radius: 31px;
    width: 150px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
}

.customer-panel .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top: 0;
}

.customer-panel .panel-heading {
    z-index: 9;
}

.customer-background {
    background: #eaecf2;
}

.customer-background .container {
    min-height: 500px;
}

.customer-panel > .panel {
    background: #eaecf2;
}

.customer-panel > .panel .panel-body {
    background: #eaecf2;
}

.customer-panel > .panel .panel-body-inner {
    background: #eaecf2;
}

.contain-main.customer-background .panel-group .panel + .panel {
    margin-top: 0;
}

/*.expertCustom-btn{*/
/*width:170px; */
/*text-align:center;*/
/*=======*/

.compliance-background .container {
    min-height: 500px;
}

.transcription-details .modal-dialog {
    width: 80%;
}

.transcription-details .input-box p {
    word-wrap: break-word;
    text-align: justify;
}

.replaypopup .input-box {
    margin: 40px 0 30px;
}

/*--------------------Calaender-----------------------------*/
.time-selection {

}

.time-selection .fc-toolbar {
    margin-bottom: 0;
}

.time-selection .fc .fc-toolbar > * > * {
    float: none;
}

.time-selection .fc th {
    vertical-align: middle;
    border-right-color: #6c6376;
}

.time-selection .fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}

.marginTop16 {
    margin-top: 16px !important;
}

/*----------- Start new Project -----------------------*/

.start-newproject-container h3.page-heading {
    font-family: 'open sans';
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: center;
    color: #0d011f;
    margin-bottom: 22px;
    margin-top: 0;
}

.start-newproject-container p {
    font-family: 'open sans';
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0d011f;
    margin-bottom: 25px;

}

.start-newproject-container .newprojectbtn {
    border: 2px solid #662d91;
    border-radius: 20px;
    font-size: 15px;
    color: #662d91;
    display: block;
    margin: 0 0 0 3px;
    min-width: 130px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    text-decoration: none !important;
    margin-bottom: 47px;
}

.start-newproject-container .newprojectbtn:hover {
    background: #662d91;
    color: #fff;
}

/*--------------Customer Schedule----------------------------*/
.cus-schedule .messageBox {
    margin: 0 auto;
    width: 700px;
    border: 2px solid #000;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.cus-schedule .messageBox h3 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 28px;
}

.cus-schedule .messageBox h3 > b,
.cus-schedule .messageBox h3 > span {
    color: #662d91;
}

.cus-schedule .boxBtnArea {
    border-top: 1px solid #ccc;
    padding: 20px 0 0;
    margin-top: 20px;
}

.cus-schedule .boxBtnArea button {
    border: 2px solid #662d91;
    /*border-radius: 40px;*/
    border-radius: 0px;
    color: #662d91;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 0 3px;
    min-width: 170px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms ease 0s;
    background: #fff;
}

.cus-schedule .boxBtnArea button:hover {
    color: #fff;
    background: #662d91;
}

.request-exp {
    margin-bottom: 60px;
}

.custom-bgwhite {
    background: #fff !important;
}

/* Jplayer CSS */
.disableTranscriptCalls {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;

}

.panel-body-inner {
    /*position: relative;*/
}

.transcription-title {
    position: absolute;
    left: 0;
    top: -21px;
}

.transcription-title label {
    background: #662d91;
    padding: 0 25px;
    height: 30px;
    line-height: 30px;
    border-radius: 0 7px 7px 0;
    color: #fff;
    font-size: 16px !important;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff !important;
    box-shadow: 0 14px 11px -9px rgba(0, 0, 0, 0.3);
}

.col-md-12.inner-custom-box {
    padding: 70px 30px 15px;
}

.transcription-title .sub-head {
    font-weight: normal !important;
}

.transcription-title .head {
    margin-bottom: 10px;
}

.transcription-title-date {
    position: absolute;
    right: 0;
    top: -21px;
}

.transcription-title-date label {
    background: #662d91;
    padding: 0 25px;
    height: 30px;
    line-height: 30px;
    border-radius: 7px 0 0 7px;
    color: #fff;
    font-size: 16px !important;
    font-weight: normal !important;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff !important;
    box-shadow: 0 14px 11px -9px rgba(0, 0, 0, 0.3);
}

.inner-custom-box .input-box p {
    color: #0d011f;
    font-size: 16px !important;
}

.inner-custom-box .popup-submit-btn {
    text-align: center !important;
    margin-top: 15px !important;
}

.inner-custom-box .popup-submit-btn button {
    border-radius: 0 !important;
    width: 170px;
    font-size: 15px !important;
}

.warning-img {
    left: 50%;
    position: absolute;
    top: -31px;
    transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.inner-box-label {
    left: 0;
    position: absolute;
    top: -21px;
}

.heading-label {
    background: #662d91 none repeat scroll 0 0;
    border-radius: 0 7px 7px 0;
    box-shadow: 0 14px 11px -9px rgba(0, 0, 0, 0.3);
    color: #ffffff !important;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    letter-spacing: 0.2px;
    line-height: 30px;
    padding: 0 25px;
    text-align: left;
}

.FrmRejectProject .inner-box {
    margin-top: 10px;
}

.invoice-area.info-box {
    padding-right: 160px;
    width: 97%;
    margin: 0 auto 10px;
}

.invoice-area.info-box .info-des-box {
    padding: 0;
    min-height: 42px;
}

.invoice-area.info-box .info-des-box p {
    margin: 0 0 0;
}

.invoice-area.info-box a.info-edit-btn {
    right: 15px;
}

.generate-btn-area {
    margin: 10px 0;
    text-align: center;
}

/*.generate-invoice-btn {*/
/*border: 2px solid #662d91;*/
/*border-radius: 20px;*/
/*color: #662d91;*/
/*display: inline-block;*/
/*font-size: 15px;*/
/*margin: 0 0 0 3px;*/
/*min-width: 130px;*/
/*padding: 5px 15px;*/
/*text-align: center;*/
/*text-decoration: none;*/
/*transition: all 300ms ease 0s;*/
/*text-decoration: none !important;*/
/*}*/

/*.generate-invoice-btn:hover {*/
/*background: #662d91 none repeat scroll 0 0;*/
/*color: #fff;*/
/*}*/

.table-header {
    background: #0C021D;
    font-size: 16px;
    color: #fff;
    padding: 11px 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid #B2ABBD;
    margin-bottom: -1px;
}

.table-header b.title {
    float: left;
    width: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.table-header .right-icon {
    float: right;
    width: 50%;
    text-align: right;
}

.table-header .right-icon i.fa {
    font-size: 25px;
    line-height: 20px;
}

.compliance.completed_calls table.dataTable.complianceList tr td:nth-child(1) {
    text-align: left;
}

.compliance.completed_calls table.dataTable.complianceList tr th:nth-last-child(1),
.compliance.completed_calls table.dataTable.complianceList tr td:nth-last-child(1) {
    text-align: right;
}

.compliance.completed_calls table.dataTable.complianceList tr th,
.compliance.completed_calls table.dataTable.complianceList tr td,
.compliance.completed_calls table.dataTable.complianceList tr td.dataTables_empty:nth-last-child(1),
.compliance table.dataTable.complianceList tr td.dataTables_empty:nth-last-child(1) {
    text-align: center;
}

.compliance table.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.compliance table.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #EBECF1;
}

.invoice-btn-area {
    text-align: right;
}

.invoice-btn-area .invcbtn {
    display: inline-block;
    margin-left: 10px;
}

.invoice-btn-area a {
    display: table-cell;
    height: 90px;
    min-width: 105px;
    vertical-align: middle;
    background: #0d011f none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: -0.1px;
    padding: 5px 10px;
    text-align: center;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
}

.invoice-btn-area a i {
    font-size: 30px;
    margin: 0 0 5px;
}

.invoice-btn-area a span {
    display: block;
    font-size: 16px;
}

.detail-box .detail-header {
    display: block;
    background: #0C021D;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    border-radius: 8px 8px 0 0;
}

.detail-box .detail-container {
    background: #fff;
    box-shadow: 0px 2px 13px 1px #ccc;
    min-height: 200px;
    padding: 30px 10px;
    border-radius: 0 0 8px 8px;
}

.detail-box .formcontrol label {
    font-weight: normal;
}

.detail-box .input-area {
    display: block;
    background: #EBECF1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: -1px 1px 2px #999 inset;
}
.info-des-box .input-text {
    display: block;
    width: 210px !important;
    background: #EBECF1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: -1px 1px 2px #999 inset;
}

.detail-box .input-area p {
    font-size: 13px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.popupokbtn {
    border-radius: 20px !important;
}

.generate-btn-area button ,
.generate-btn-area button:hover{
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 13px 1px #ccc;
    background: #0C021D;
    color: #fff;
    font-size: 16px;
}

/* Compliance CSS */
.compliance-main .compliance-experts table.dataTable thead th,
.compliance-main .compliance-experts table.dataTable thead td {
    border-bottom: none;
    background: #0D011F;
    border-right: 0;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.compliance-main .compliance-experts table.dataTable tbody th,
.compliance-main .compliance-experts table.dataTable tbody td{
    padding: 12px 18px;
    width: 33%;
    text-align: center;

}
.compliance-main .compliance-experts table.dataTable thead th:nth-child(1),
.compliance-main .compliance-experts table.dataTable tbody td:nth-child(1){
text-align: left;
}
/* Compliance CSS */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .contain-main .panel .panel-body .link-box a {
        font-family: Helvetica;
    }
}

@media only screen and (min-width: 959px) and (max-width: 1045px) {
    .footer_section2 .footer-wrap {
        width: 1000px;
        max-width: 1000px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .footer_section2 .footer-wrap {
        width: 100%;
        padding: 25px 20px 40px;
    }

    .footer_section2 .left,
    .footer_section2 .right,
    .fSection-hed,
    .address-con {
        float: none;
        width: 100%;
    }

    .copyright {
        bottom: 5px;
    }

    a.privacy-policy {
        bottom: 5px;
    }
}

@media only screen and (min-width: 591px) and (max-width: 767px) {
    .footer_section2 .footer-wrap {
        width: 100%;
        padding: 25px 20px 40px;
    }

    .footer_section2 .left,
    .footer_section2 .right,
    .fSection-hed,
    .address-con {
        float: none;
        width: 100%;
    }

    .copyright {
        bottom: 5px;
    }

    a.privacy-policy {
        bottom: 5px;
    }
}

@media only screen and (min-width: 471px) and (max-width: 590px) {
    .sticky .hed-btn > ul {
        width: 100%;
    }

    .footer_section2 .footer-wrap {
        width: 100%;
        padding: 25px 20px 40px;
    }

    .footer_section2 .left,
    .footer_section2 .right,
    .fSection-hed,
    .address-con {
        float: none;
        width: 100%;
    }

    .copyright {
        bottom: 5px;
    }

    a.privacy-policy {
        bottom: 5px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 470px) {
    .sticky .hed-btn > ul {
        width: 100%;
    }

    header .user-link .drop-down-links ul li a {
        width: 100%;
    }

    .contain-main .panel .panel-body.child-accordian-panel-body .link-box {
        margin-top: 20px !important;
    }

    .loginpage .hed-btn > ul, .usercasepage .hed-btn > ul {
        width: 100% !important;
    }

    .footer_section2 .footer-wrap {
        width: 100%;
        padding: 25px 20px 40px;
    }

    .footer_section2 .left,
    .footer_section2 .right,
    .fSection-hed,
    .address-con {
        float: none;
        width: 100%;
    }

    .copyright {
        bottom: 5px;
    }

    a.privacy-policy {
        bottom: 5px;
    }

    .modal-dialog {
        width: 95%;
    }

    .custom-popup .modal-body .popup-submit-btn button,
    .message-popup .modal-footer .popup-submit-btn button,
    .custom-popup .modal-body .popup-submit-btn a,
    .message-popup .modal-footer .popup-submit-btn a {
        margin-bottom: 7px;
    }

    header .user-link .drop-down-links, header .user-link-compliance .drop-down-links {
        top: 31px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 1045px) {
    body {
        padding-bottom: 24rem;
    }

    .footer_section2 .footer-wrap {
        width: 100%;
    }
}

@media only screen and (min-width: 1045px) and (max-width: 1200px) {

    .footer_section2 .footer-wrap {
        width: 100%;
    }
}